__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv
pip-log.txt
*.rdb
*.wal
*.pg
*.db
*.db-wal
*.db-shm
rayzorgen_data/
test_*
big_*
rayzorgendb/native/target/
Cargo.lock
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
*.log
